@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /*Colors*/

    /*Primary*/

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /*Accent*/

    --blue: hsl(248, 32%, 49%);

    /*Neutral*/

    --dark-Blue: hsl(249, 10%, 26%);
    --dark-Blue-Opacity: rgb(62, 60, 73, 0.2);
    --grayish-Blue: hsl(246, 25%, 77%);
    --white: white;

}

* {
    box-sizing: border-box;
}

#accent {
    background-color: var(--blue);
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;
    font-weight: 400;
    box-shadow: 0 8px var(--dark-Blue-Opacity);
    

}

article {
    color: var(--white);
    text-align: center;
    font-weight: 400;

}

article span {
    font-weight: 600;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

button {
    display: block;
    color: var(--white);
    background-color: var(--green);
    border-radius: 8px;
    border-style: none;
    padding: 8% 0;
    text-transform: uppercase;
    width: 88%;
    margin-top: 5%;
    font-size: 1.05rem;
}

button:hover {
    cursor: pointer;
}

#explain {
    margin-bottom: 20%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#form-table {
    background-color: var(--white);
    color: var(--dark-Blue);
    border-radius: 8px;
    box-shadow: 0 8px var(--dark-Blue-Opacity);
    padding: 3% 0;
    margin-top: 3%;
    width: 100%;
}

#form-table p {
    color: var(--grayish-Blue);
    font-size: 0.7rem;
    padding: 5% 12% 5% 12%;
    text-align: center;
    margin: 0;
}

#form-table span {
    color: var(--red);
    font-weight: 600;

}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--red);
    font-size: 16px;

}

input {
    display: block;
    margin-top: 5%;
    padding: 7% 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid var(--grayish-Blue);
    border-radius: 8px;
    width: 88%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 95%;
    margin: 0 auto;
}

p {
    line-height: 1.7rem;
    padding: 0 3%;
    
}