@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /*Colors*/

    /*Primary*/

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /*Accent*/

    --blue: hsl(248, 32%, 49%);

    /*Neutral*/

    --dark-Blue: hsl(249, 10%, 26%);
    --grayish-Blue: hsl(246, 25%, 77%);

}

* {
    box-sizing: border-box;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}